<!DOCTYPE html>
<html lang="en">
<%user,ticket_info;%>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= user.LastName +","+ user.FirstName%>
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/ticket.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/fontawesome-free-5.15.1-web/css/font-awesome.css">
        <script src="https://kit.fontawesome.com/577845f6a5.js" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="/html_getmovie.js"></script>
        </script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Movie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/movie">Movie info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/theater">Theater info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ticket">Ticket</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Top up</a>
                    </li>

                    <li class="nav-item my-2 my-lg-0">
                        <a class="nav-link disabled" href="#">Food Corner</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Shop</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Service Contact</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <% if(user) { %>
                                <a class="nav-link" href="/profile">User Profile <span class="sr-only">(current)</span></a>
                                <% } else { %>
                                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                                    <% } %>
                        </li>
                        <li class="nav-item">


                            <% if(user) { %>
                                <a class="nav-link" href="/auth/signout">Sign out <span class="sr-only">(current)</span></a>
                                <% } else { %>
                                    <a class="nav-link" href="/register">Register</a>
                                    <% } %>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
        <div class="row" style=" margin: 2%;">
            <div class="col-md-3 ">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="/avatar.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= user.LastName +","+ user.FirstName%>
                        </h5>
                        <p class="card-text">
                            <%= user.Bio%>
                        </p>
                        <a href="/profile" class="btn btn-primary" style="width: 100%;">
                            <%= user.Email %>
                        </a>
                    </div>
                </div>
            </div>


            <div class=" col-md-7 " style=" margin-left: 2%; ">
                <div class="card text-center ">
                    <div class="card-header ">
                        Featured
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Hi,
                            <%= user.LastName +","+ user.FirstName%> welcome back</h5>
                        <p class="card-text ">You can add your bio here</p>
                        <!-- <a href="# " class="btn btn-primary ">Go somewhere</a> -->
                    </div>

                </div>
                </br>

                <p>
                    <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#ticket_list" aria-expanded="false" aria-controls="ticket_list">
                  Your Ticket List
                </button>
                </p>
                <div class="collapse overflow-auto" id="ticket_list" style="max-height: 500px;">
                    <!-- Nav tabs -->
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#Available " role="tab" aria-controls="Available" aria-selected="true">Available</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link disabled" id="profile-tab" data-bs-toggle="tab" href="#Watched" role="tab" aria-controls="Watched" aria-selected="false">Watched(Recent 10 records)</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link disabled" id="messages-tab" data-bs-toggle="tab" href="#Expired" role="tab" aria-controls="Expired" aria-selected="false">Expired(Recent 10 records)</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Available" role="tabpanel" aria-labelledby="Available-tab">
                                <!-- Example single danger button -->

                                <% for(var i = 0;i<ticket_info.length;i++){%>
                                    <div id="TicketDiv<%=ticket_info[i].Ticket_id %>" class="card card-body" style="margin:2%;">
                                        <div class="d-flex flex-column bd-highlight mb-3">
                                            <div class="card">
                                                <div class="card-header">
                                                    <i class="fa fa-ticket" aria-hidden="true"></i> <b> <%=ticket_info[i].TicketNum %></b> [
                                                    <%=ticket_info[i].Ticket_type %>]
                                                </div>
                                                <div class="card-body">
                                                    <p>
                                                        <span class="card-title"><i class="fa fa-video-camera" aria-hidden="true" style="font-size:15px;"></i>&nbsp;
                                                    <span style="font-size: 20px;font-weight: bold;"> 
                                                        <%=ticket_info[i].Movie_name %>
                                                    </span>
                                                        </span> &nbsp;
                                                        <a href="# " class="btn btn btn-secondary btn-sm " role="button " data-bs-toggle="button " style="background-color:blueviolet;">
                                                            <%=ticket_info[i].Movie_restricted_level %>
                                                        </a>
                                                    </p>
                                                    <p class="card-text"><i class="fa fa-calculator" aria-hidden="true" style="font-size:15px"></i> &nbsp;
                                                        <%=ticket_info[i].Date %>
                                                    </p>
                                                    <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true" style="font-size:15px;"></i> &nbsp;
                                                        <%=ticket_info[i].Time %>
                                                    </p>

                                                    <p class="card-text"><i class="fas fa-location-arrow" aria-hidden="true" style="font-size:15px;"></i> &nbsp;
                                                        <%=ticket_info[i].Seat_num %>
                                                    </p>

                                                    <p class="card-text"><i class="fas fa-map-marker-alt" aria-hidden="true" style="font-size:16px;font-size:15px"></i> &nbsp;
                                                        <%=ticket_info[i].Theater_name %>
                                                    </p>
                                                </div>
                                                <div class="card-footer text-danger">
                                                    <i class="fas fa-dollar-sign"></i>
                                                    <%=ticket_info[i].Total_prices %>&nbsp;
                                                        <button type="button" id="<%=ticket_info[i].Ticket_id %>" name="<%=ticket_info[i].Ticket_id %>" class=" btn btn-success btn-sm " onclick="refund(this.id)">Refund ticket</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                            <div class="tab-pane " id="Watched " role="tabpanel " aria-labelledby="Watched-tab ">
                                <div class="card card-body " style="margin:2%; ">
                                    <div class="d-flex flex-column bd-highlight mb-3 ">
                                        <div class="card ">
                                            <div class="card-header " style="color: gray; ">
                                                <i class="fa fa-ticket " aria-hidden="true "></i> <b></b>[ ]
                                            </div>
                                            <div class="card-body ">
                                                <p>
                                                    <span class="card-title "><i class="fa fa-video-camera " aria-hidden="true " style="font-size:15px; "></i>&nbsp;
                                                    <span style="font-size: 20px;font-weight: bold; "> 
                                                    </span>
                                                    </span> &nbsp;
                                                    <a href="# " class="btn btn btn-secondary btn-sm " role="button " data-bs-toggle="button " style="background-color:blueviolet; ">
                                                    </a>
                                                </p>
                                                <p class="card-text "><i class="fa fa-calculator " aria-hidden="true " style="font-size:15px "></i> &nbsp;
                                                </p>
                                                <p class="card-text "><i class="fa fa-clock-o " aria-hidden="true " style="font-size:15px; "></i> &nbsp;
                                                </p>

                                                <p class="card-text "><i class="fas fa-location-arrow " aria-hidden="true " style="font-size:15px; "></i> &nbsp;
                                                </p>

                                                <p class="card-text "><i class="fas fa-map-marker-alt " aria-hidden="true " style="font-size:16px;font-size:15px "></i> &nbsp;
                                                </p>
                                            </div>
                                            <div class="card-footer text-danger ">
                                                <i class="fas fa-dollar-sign "></i>9&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane " id="Expired " role="tabpanel " aria-labelledby="Expired-tab ">
                                <div class="card card-body " style="margin:2%; ">
                                    <div class="d-flex flex-column bd-highlight mb-3 ">
                                        <div class="card ">
                                            <div class="card-header " style="color: red; ">
                                                <i class="fa fa-ticket " aria-hidden="true "></i> <b></b>[ ]
                                            </div>
                                            <div class="card-body ">
                                                <p>
                                                    <span class="card-title "><i class="fa fa-video-camera " aria-hidden="true " style="font-size:15px; "></i>&nbsp;
                                                <span style="font-size: 20px;font-weight: bold; "> 
                                                </span>
                                                    </span> &nbsp;
                                                    <a href="# " class="btn btn btn-secondary btn-sm " role="button " data-bs-toggle="button " style="background-color:blueviolet; ">
                                                    </a>
                                                </p>
                                                <p class="card-text "><i class="fa fa-calculator " aria-hidden="true " style="font-size:15px "></i> &nbsp;
                                                </p>
                                                <p class="card-text "><i class="fa fa-clock-o " aria-hidden="true " style="font-size:15px; "></i> &nbsp;
                                                </p>

                                                <p class="card-text "><i class="fas fa-location-arrow " aria-hidden="true " style="font-size:15px; "></i> &nbsp;
                                                </p>

                                                <p class="card-text "><i class="fas fa-map-marker-alt " aria-hidden="true " style="font-size:16px;font-size:15px "></i> &nbsp;
                                                </p>
                                            </div>
                                            <div class="card-footer text-danger ">
                                                <i class="fas fa-dollar-sign "></i>9&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script>
            function refund(ticket_id) {
                var div_id = "TicketDiv" + ticket_id
                var div = document.getElementById(div_id)
                console.log(div)
                let req = new XMLHttpRequest()
                let url = "/RefundTicket/Refund/" + ticket_id

                req.open("GET", "/RefundTicket/Refund/" + ticket_id)
                req.responseType = "json"
                req.onload = () => {
                    var data = req.response
                    div.parentNode.removeChild(div)
                }
                req.send()
            }


            const container = document.querySelector(".container ")
                // const list = document.querySelectorAll(".nav-link ")

            container.addEventListener("click ", (e) => {
                var active = document.querySelector(".nav-link.active ") //get current active tag
                var active_page = document.querySelector(".tab-pane.active ") //get current active tag page
                if (e.target.classList.contains("nav-link ") && !e.target.classList.contains("active ")) {
                    e.target.classList.toggle("active ")
                    active.classList.toggle("active ")
                    const target_page = e.target.getAttribute('aria-controls')
                    e.target.setAttribute("aria-selected ", true)

                    const target_papge_id = document.getElementById(target_page)
                        //change page class to active
                    target_papge_id.classList.toggle("active ") // access to active
                    active_page.classList.toggle("active ")
                    active.setAttribute("aria-selected ", false)
                }

            })
        </script>


    </body>

</html>