<!DOCTYPE html>
<html lang="en">
<% var user; %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>Theater_info</title>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Movie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/movie">Movie info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/theater">Theater info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ticket">Ticket</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Top up</a>
                    </li>

                    <li class="nav-item my-2 my-lg-0">
                        <a class="nav-link disabled" href="#">Food Forner</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Shop</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Service Contact</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <% if(user) { %>
                                <a class="nav-link" href="/profile">User Profile <span class="sr-only">(current)</span></a>
                                <% } else { %>
                                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                                    <% } %>
                        </li>
                        <li class="nav-item">


                            <% if(user) { %>
                                <a class="nav-link" href="/auth/signout">Sign out <span class="sr-only">(current)</span></a>
                                <% } else { %>
                                    <a class="nav-link" href="/register">Register</a>
                                    <% } %>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
        <!--
        THEATER LIST
    -->
        <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding-left: 10px;">Theater Detail Info</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% for(var i =0;i<data.length;i++){ %>
                <div class=" col  " style="width: 50%; height: 100%;">
                    <div class="card mb-3 " style="max-width: 540px; margin-left: 10%; margin-top:50px; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
                        <div class="row g-0 ">
                            <div class="col-md-4">
                                <img src="/<%= data[i].Theater_image_src %>" alt=" ... " style="width: 100%; height: 100%; ">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body ">
                                    <h5 class="card-title ">
                                        <%= data[i].Theater_name %>
                                    </h5>

                                    <p class="card-text">
                                        Address:
                                        <%= data[i].Theater_address %>
                                    </p>
                                    <p class="card-text">
                                        Office time:
                                        <%= data[i].Theater_open_time %>~
                                            <%= data[i].Theater_close_time%>
                                    </p>
                                    <p class="card-text "><small class="text-muted ">Contact:<%= data[i].Theater_contact %>
                                                </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </body>


</html>