<!DOCTYPE html>
<html lang="en">
<% var user,movie_info,list,seat_status;%>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/ticket.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/577845f6a5.js" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="/html_getmovie.js"></script>
        </script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>Movie_detail</title>

    </head>


    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Movie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/movie">Movie info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/theater">Theater info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">unavailable</a>
                    </li>

                    <li class="nav-item my-2 my-lg-0">
                        <a class="nav-link disabled" href="#">unavailable</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <% if(user) { %>
                                <a class="nav-link" href="/profile">User Profile <span class="sr-only">(current)</span></a>
                                <% } else { %>
                                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                                    <% } %>
                        </li>
                        <li class="nav-item">


                            <% if(user) { %>
                                <a class="nav-link" href="/auth/signout">Sign out <span class="sr-only">(current)</span></a>
                                <% } else { %>
                                    <a class="nav-link" href="/register">Register</a>
                                    <% } %>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">1.Select ticket type</li>
                <li class="breadcrumb-item" aria-current="page">2.Select ticket seat</li>
                <li class="breadcrumb-item active">3.Done</li>
            </ol>
        </nav>

        <div class="row" style=" margin: 2%;">
            <div class="col-md-2 ">
                <div class="card text-white bg-dark" style="width: 18rem; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <img class="card-img-top" src="/movie/<%= movie_info.Movie_poster%>" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true" style="font-size:16px;font-size:15px"></i> &nbsp;
                            <%= movie_info.Date%> &nbsp;
                                <%= movie_info.Time%>

                        </p>
                        <p class="card-text"><i class="fas fa-map-marker-alt" aria-hidden="true" style="font-size:16px;font-size:15px"></i> &nbsp;
                            <%= movie_info.theater_name%>
                        </p>
                        <p class=" card-text "><i class="fa fa-video-camera" aria-hidden="true" style="font-size:16px;font-size:15px"></i> &nbsp;
                            <%= movie_info.Movie_name%>
                        </p>
                        <div>
                            <a href="# " class="btn btn btn-secondary btn-sm " role="button " data-bs-toggle="button ">
                                <%= movie_info.Movie_restricted_level%>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


            <div class=" col-md-7 " style=" margin-left: 2%; ">
                <div class="card text-center ">
                    <div class="card-body " style="background-color: gray; ">
                        <h2 class="card-title ">Select Your Seat</h2>
                        <p class="card-text ">選擇您希望購買的電影票張數和類型.請注意系統將自動為您保留可訂的最佳座位, 每筆交易最多可購買10張電影票</p>
                    </div>
                </div>
                </br>

                </br>
                <div id="seat_status" class="text-center">
                    <span>
                        <img src="/seat_img/seat_status/Available.png" alt="Available" onclick="">
                        <span>Available</span>
                    </span>
                    <span>
                        <img src="/seat_img/seat_status/YourSeat.png" alt="Your seat">
                        <span>Your Seat</span>
                    </span>
                    <span>
                        <img src="/seat_img/seat_status/Unavailable.png" alt="Unavailable">
                        <span>Unavailable</span>
                    </span>
                </div>
                </br>
                <div class="text-center">
                    <span>
                        <img style="max-width: 200%;"src="/seat_img/Screen.png" alt="Screen">
                    </span>
                </div>
                </br>
                <div class="container">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Row</th>
                                <th scope="col">1</th>
                                <th scope="col">2</th>
                                <th scope="col">3</th>
                                <th scope="col">4</th>
                                <th scope="col">5</th>
                                <th scope="col">6</th>
                                <th scope="col">7</th>
                                <th scope="col">8</th>
                                <th scope="col">9</th>
                                <th scope="col">10</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--RowA-->
                            <tr>
                                <td><span>
                                        <img  src="/seat_img/seat_row/A.png" alt="Row_A" >
                                    </span></td>
                                <div class="row">
                                    <td>
                                        <div class="seat" id="A1">
                                            <img src="/seat_img/seat_status/Available.png" alt="available1">
                                        </div>
                                    </td>
                                    <td><span class="seat" id="A2">
                                                <img src="/seat_img/seat_status/Available.png" alt="available2">
                                            </span></td>
                                    <td><span class="seat" id="A3">
                                                <img src="/seat_img/seat_status/Available.png" alt="available3">
                                            </span></td>
                                    <td><span class="seat" id="A4">
                                                <img src="/seat_img/seat_status/Available.png" alt="available4">
                                            </span></td>
                                    <td><span class="seat" id="A5">
                                                <img src="/seat_img/seat_status/Available.png" alt="available5">
                                            </span></td>
                                    <td><span class="seat" id="A6">
                                                <img src="/seat_img/seat_status/Available.png" alt="available6">
                                            </span></td>
                                    <td><span class="seat" id="A7">
                                                <img src="/seat_img/seat_status/Available.png" alt="available7">
                                            </span></td>
                                    <td><span class="seat" id="A8">
                                                <img src="/seat_img/seat_status/Available.png" alt="available8">
                                            </span></td>
                                    <td><span class="seat" id="A9">
                                                <img src="/seat_img/seat_status/Available.png" alt="available9">
                                            </span></td>
                                    <td><span class="seat" id="A10">
                                                <img src="/seat_img/seat_status/Available.png" alt="available10">
                                            </span></td>
                                </div>
                            </tr>

                            <!--RowB-->
                            <tr>
                                <td><span>
                                        <img  src="/seat_img/seat_row/B.png" alt="Row_B" >
                                    </span></td>
                                <div class="row">
                                    <td>
                                        <div class="seat" id="B1">
                                            <img src="/seat_img/seat_status/Available.png" alt="available1">
                                        </div>
                                    </td>
                                    <td><span class="seat" id="B2">
                                                <img src="/seat_img/seat_status/Available.png" alt="available2">
                                            </span></td>
                                    <td><span class="seat" id="B3">
                                                <img src="/seat_img/seat_status/Available.png" alt="available3">
                                            </span></td>
                                    <td><span class="seat" id="B4">
                                                <img src="/seat_img/seat_status/Available.png" alt="available4">
                                            </span></td>
                                    <td><span class="seat" id="B5">
                                                <img src="/seat_img/seat_status/Available.png" alt="available5">
                                            </span></td>
                                    <td><span class="seat" id="B6">
                                                <img src="/seat_img/seat_status/Available.png" alt="available6">
                                            </span></td>
                                    <td><span class="seat" id="B7">
                                                <img src="/seat_img/seat_status/Available.png" alt="available7">
                                            </span></td>
                                    <td><span class="seat" id="B8">
                                                <img src="/seat_img/seat_status/Available.png" alt="available8">
                                            </span></td>
                                    <td><span class="seat" id="B9">
                                                <img src="/seat_img/seat_status/Available.png" alt="available9">
                                            </span></td>
                                    <td><span class="seat" id="B10">
                                                <img src="/seat_img/seat_status/Available.png" alt="available10">
                                            </span></td>
                                </div>
                            </tr>

                            <!--RowB-->
                            <tr>
                                <td><span>
                                    <img  src="/seat_img/seat_row/C.png" alt="Row_C" >
                                </span></td>
                                <div class="row">
                                    <td>
                                        <div class="seat" id="C1">
                                            <img src="/seat_img/seat_status/Available.png" alt="available1">
                                        </div>
                                    </td>
                                    <td><span class="seat" id="C2">
                                        <img src="/seat_img/seat_status/Available.png" alt="available2">
                                    </span></td>
                                    <td><span class="seat" id="C3">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available3">
                                                                        </span></td>
                                    <td><span class="seat" id="C4">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available4">
                                                                        </span></td>
                                    <td><span class="seat" id="C5">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available5">
                                                                        </span></td>
                                    <td><span class="seat" id="C6">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available6">
                                                                        </span></td>
                                    <td><span class="seat" id="C7">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available7">
                                                                        </span></td>
                                    <td><span class="seat" id="C8">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available8">
                                                                        </span></td>
                                    <td><span class="seat" id="C9">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available9">
                                                                        </span></td>
                                    <td><span class="seat" id="C10">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available10">
                                                                        </span></td>
                                </div>
                            </tr>

                            <!--RowD-->
                            <tr>
                                <td><span>
                                        <img  src="/seat_img/seat_row/D.png" alt="Row_D" >
                                    </span></td>
                                <div class="row">
                                    <td>
                                        <div class="seat" id="D1">
                                            <img src="/seat_img/seat_status/Available.png" alt="available1">
                                        </div>
                                    </td>
                                    <td><span class="seat" id="D2">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available2">
                                                                        </span></td>
                                    <td><span class="seat" id="D3">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available3">
                                                                        </span></td>
                                    <td><span class="seat" id="D4">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available4">
                                                                        </span></td>
                                    <td><span class="seat" id="D5">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available5">
                                                                        </span></td>
                                    <td><span class="seat" id="D6">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available6">
                                                                        </span></td>
                                    <td><span class="seat" id="D7">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available7">
                                                                        </span></td>
                                    <td><span class="seat" id="D8">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available8">
                                                                        </span></td>
                                    <td><span class="seat" id="D9">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available9">
                                                                        </span></td>
                                    <td><span class="seat" id="D10">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available10">
                                                                        </span></td>
                                </div>
                            </tr>

                            <!--RowE-->
                            <tr>
                                <td><span>
                                        <img  src="/seat_img/seat_row/E.png" alt="Row_E" >
                                    </span></td>
                                <div class="row">
                                    <td>
                                        <div class="seat" id="E1">
                                            <img src="/seat_img/seat_status/Available.png" alt="available1">
                                        </div>
                                    </td>
                                    <td><span class="seat" id="E2">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available2">
                                                                        </span></td>
                                    <td><span class="seat" id="E3">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available3">
                                                                        </span></td>
                                    <td><span class="seat" id="E4">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available4">
                                                                        </span></td>
                                    <td><span class="seat" id="E5">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available5">
                                                                        </span></td>
                                    <td><span class="seat" id="E6">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available6">
                                                                        </span></td>
                                    <td><span class="seat" id="E7">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available7">
                                                                        </span></td>
                                    <td><span class="seat" id="E8">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available8">
                                                                        </span></td>
                                    <td><span class="seat" id="E9">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available9">
                                                                        </span></td>
                                    <td><span class="seat" id="E10">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available10">
                                                                        </span></td>
                                </div>
                            </tr>

                            <!--RowF-->
                            <tr>
                                <td><span>
                                        <img  src="/seat_img/seat_row/F.png" alt="Row_F" >
                                    </span></td>
                                <div class="row">
                                    <td>
                                        <div class="seat" id="F1">
                                            <img src="/seat_img/seat_status/Available.png" alt="available1">
                                        </div>
                                    </td>
                                    <td><span class="seat" id="F2">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available2">
                                                                        </span></td>
                                    <td><span class="seat" id="F3">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available3">
                                                                        </span></td>
                                    <td><span class="seat" id="F4">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available4">
                                                                        </span></td>
                                    <td><span class="seat" id="F5">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available5">
                                                                        </span></td>
                                    <td><span class="seat" id="F6">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available6">
                                                                        </span></td>
                                    <td><span class="seat" id="F7">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available7">
                                                                        </span></td>
                                    <td><span class="seat" id="F8">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available8">
                                                                        </span></td>
                                    <td><span class="seat" id="F9">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available9">
                                                                        </span></td>
                                    <td><span class="seat" id="F10">
                                                                            <img src="/seat_img/seat_status/Available.png" alt="available10">
                                                                        </span></td>
                                </div>
                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-primary" role="alert">
                        You have selected <b id="user_ticket_count" class="alert-link">0</b>&nbsp;tickets seat.
                        <div> Your seat:<b id="selected_id"></b></div>
                    </div>
                </div>

                <script>
                    const containers = document.querySelector(".container")
                    const seats = document.querySelectorAll(".row .seat:not(.unavailable)")
                    const user_note = document.getElementById("user_ticket_count")
                    const selected_seat = document.getElementById("selected_id")

                    var ticket_full = 0
                    var ticket_discount = 0
                    var user_seat = {}
                        //get shopping list total ticket
                    '<% for(var key in list) { %>' //if having FT
                    '<% if( key == "FT") {%>'
                    var cook = Cookies.get("FT")
                    var FT_info = JSON.parse(cook)

                    ticket_full = FT_info["Count"]
                    '<% }%>'

                    '<% if( key == "DT") {%>'
                    var cook = Cookies.get("DT")
                    var DT_info = JSON.parse(cook)

                    ticket_discount = DT_info["Count"]
                    '<% }%>'
                    '<% } %>'
                    const total = parseInt(ticket_full) + parseInt(ticket_discount)

                    function ticketcount() {
                        const selected_ticket = document.querySelectorAll(".row .selected")
                        const count = selected_ticket.length
                        user_note.innerHTML = count
                            //  console.log(count)
                    }
                    containers.addEventListener("click", (e) => {
                        const selected_ticket = document.querySelectorAll(".row .selected")
                        if (e.target.classList.contains("seat") && !(e.target.classList.contains("unavailable"))) {
                            if (selected_ticket.length < total) { //user be able to select a seat
                                e.target.classList.toggle("selected") // toggle 
                                var seat_id = e.target.id
                                if (e.target.classList.contains("seat") && !e.target.classList.contains("selected")) {
                                    delete user_seat[seat_id]
                                } else {
                                    user_seat[seat_id] = seat_id
                                }
                                //console.log(user_seat)
                                var str = ""
                                ticketcount()

                                for (key in user_seat) {
                                    //console.log(user_seat[key])
                                    str += user_seat[key] + " "
                                }
                                // console.log(str)
                                // console.log(selected_ticket.length)
                                selected_seat.innerHTML = str
                                    //console.log(selected_ticket.length)
                            } else { //user is already selected all seat
                                e.target.classList.toggle("selected") // toggle 
                                var temp = document.querySelectorAll(".row .selected")
                                if (temp.length < total) {
                                    delete user_seat[e.target.id]
                                } else {
                                    var seat_id = e.target.id //get user selected seat id
                                    var first_seat = Object.keys(user_seat)[0]
                                    var first_seats_id = document.getElementById(first_seat)

                                    if (first_seats_id.classList.contains("seat") && first_seats_id.classList.contains("selected")) { // for all seat selected case
                                        first_seats_id.classList.toggle("selected")
                                        delete user_seat[first_seat]
                                        user_seat[seat_id] = seat_id
                                    }
                                }
                                var str = ""
                                console.log(user_seat)
                                    // ticketcount()
                                for (key in user_seat) {
                                    //console.log(user_seat[key])
                                    str += user_seat[key] + " "
                                }

                                selected_seat.innerHTML = str
                                console.log("test2")
                                ticketcount()
                            }
                        }
                    })
                </script>
            </div>




            <div class="col-md-2 " style="padding-left: 3%; ">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">VIP's Area</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Not Login Yet</p>
                    </div>
                </div>

                </br>
                </br>
                </br>

                <script>
                    window.onload = () => {
                        '<%for(var i =0;i<seat_status.length;i++){%>'
                        var temp_id = document.getElementById('<%=seat_status[i].Seat_num%>')
                        temp_id.classList.toggle("unavailable")
                        '<%}%>'

                        var FT_Price = 0
                        var DT_Price = 0
                        var total_price = document.getElementById("user_total_price")

                        '<% for(var key in list) { %>' //if having FT
                        var table = document.getElementById("shoppinglist")

                        '<% if( key == "FT") {%>'
                        var cook = Cookies.get("FT")
                        var FT_info = JSON.parse(cook)

                        var tr = document.createElement("tr")
                        tr.id = "FULL_TICKET"
                        var td = tr.appendChild(document.createElement("td"))

                        var ticketName = document.createElement("p")
                        var name = "FULL TICKET"
                        var type = td.appendChild(ticketName)
                        type.innerText = name

                        var totalTicket = document.createElement("p")
                        totalTicket.id = "FULL_TICKET_AMOUNT"
                        totalTicket.className = "text-right"
                        var totalamount = "X " + FT_info["Count"] + " = " + FT_info["total"]
                        var ticketPrice = td.appendChild(totalTicket)
                        ticketPrice.innerText = totalamount
                        FT_Price = FT_info["total"]

                        table.insertBefore(tr, table.childNodes[0])
                        '<% }%>'

                        '<% if( key == "DT") {%>'
                        var cook = Cookies.get("DT")
                        var DT_info = JSON.parse(cook)

                        var tr = document.createElement("tr")
                        tr.id = "FULL_TICKET"
                        var td = tr.appendChild(document.createElement("td"))

                        var ticketName = document.createElement("p")
                        var name = "DISCOUNT TICKET"
                        var type = td.appendChild(ticketName)
                        type.innerText = name

                        var totalTicket = document.createElement("p")
                        totalTicket.id = "DISCOUNT_TICKET_AMOUNT"
                        totalTicket.className = "text-right"
                        var totalamount = "X " + DT_info["Count"] + " = " + DT_info["total"]
                        var ticketPrice = td.appendChild(totalTicket)
                        ticketPrice.innerText = totalamount
                        DT_Price = DT_info["total"]

                        table.insertBefore(tr, table.childNodes[0])
                        '<% }%>'
                        '<% } %>'
                        var ticket_price = FT_Price + DT_Price
                        total_price.innerHTML = "Total$: " + ticket_price
                    }
                </script>


                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;" id="123">
                    <div class="card-header">
                        <h5 class="card-title">Shopping List</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody id="shoppinglist">
                                <tr>
                                    <td id="user_total_price" class="text-right">
                                        Total:$ 0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <script>
                function obj_length(obj) {
                    let size = 0
                    for (key in obj) {
                        size++
                    }
                    return size
                }

                function checkseat() {
                    var size = obj_length(user_seat)
                    if (size < total) {
                        //if user still have a seat not yet selected
                        console.log(size)
                        var remind = total - size
                        var str = "You still have " + remind + " ticket that you need to select a seat"
                        alert(str)
                        return false
                    } else {
                        //all seat have selected
                        var inFifteenMinutes = new Date(new Date().getTime() + 15 * 60 * 1000);
                        if (Cookies.get("seat")) {
                            Cookies.remove("seat", {
                                path: "/ticket"
                            })

                        }
                        Cookies.set("seat", JSON.stringify(user_seat), {
                            expires: inFifteenMinutes,
                            path: "/ticket"
                        })
                        return true;
                    }

                }
            </script>
            <div style=" margin-left:80%; ">
                <form action="/ticket/ViewUserTicket" method="GET" id="ticket_form" onsubmit="return checkseat()">
                    <button type="submit " class="btn btn-info btn-lg ">Pay</button>
                </form>
            </div>

    </body>

</html>